#paned_files, #frame_code_info {
    color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: lightgrey;
    background-color: white;
}

#label_title {
  color: white;
  padding: 10px 15px;
  background-color: lightgrey;
  border-radius: 5px;
}


#message_new_indicator {
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: orange;
}

#sep_header {
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}

#tb_files {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
